body{

}

.wrapper{
  display: grid;
  grid-template-columns: 400px 400px;
}

img {
  width: 390px;
  margin-top: 10px;
}

#pic1 {
  filter: hue-rotate(90deg);
}

#pic1:hover{
  filter: hue-rotate(180deg);
  transition: 1s;
}

#pic2 {
  filter: brightness(55%) drop-shadow(10px 10px 6px rgb(184, 182, 114));
}

#pic2:hover{
  filter: brightness(100%) drop-shadow(15px 15px 20px rgb(150, 150, 114));
  transition: 1s;
}

#pic3{
  filter: hue-rotate(270deg);
}

#pic3:hover{
  filter: hue-rotate(40deg) grayscale(50%);
  transition: 1s;
}

#pic4{
  filter: grayscale(80%) contrast(60%) sepia(50%);
}

#pic4:hover{
  filter: grayscale(20%) contrast(40%) sepia(10%) blur(5px);
  transition: 1s;
}
