@keyframes sunAnim {
  0% {
    height: 15%;
    width: 15%;
    left: 20%;
    top: 5%;
  }
  50% {
    height: 25%;
    width: 25%;
    left: 15%;
    top: 0%;
  }
  100%{
    height: 15%;
    width: 15%;
    left: 20%;
    top: 5%;
  }
}

@keyframes birdAnim{
  0%{
    left: -15%;
    top: 20%;
  }
  5%{
    left: 10%;
    top: 20%;
  }
  10%{
    left: 50%;
    top: 60%;
  }
  20%{
    left: 90%;
    top: 20%;
  }
  30%{
    left: 110%;
    top: 20%;
    transform: scale(1, 1);
  }
  31%{
    transform: scale(-1, 1);
  }
  40%{
    left: 80%;
    top: 40%;
  }
  50%{
    left: 50%;
    top: 70%;
  }
  60%{
    left: 30%;
    top: 50%;
  }
  70%{
    left: 10%;
    top: 60%;
  }
  90%{
    left: -15%;
    top: 80%;
    transform: scale(-1, 1);
  }
}

@keyframes shipAnim {
  0%{
    transform: scale(-1, 1);
  }
  1%{
    transform: scale(-1, 1);
  }
  10%{
    left: 80%;
    transform: scale(-1, 1);
  }
  11%{
    left: 80%;
    transform: scale(1, 1);
  }
  20%{
    left: 20%;
    transform: scale(1, 1);
  }
  21%{
    left: 20%;
    transform: scale(-1, 1);
  }
  30%{
    left: 80%;
    transform: scale(-1, 1);
  }
  31%{
    left: 80%;
    transform: scale(1, 1);
  }
  40%{
    left: 50%;
  }
  85%{
    left: 50%;
  }
  95%{
    transform: scale(1, 1);
  }
}

@keyframes billAnim {
  0%{
    opacity: 0;
  }
  40%{
    opacity: 0;
  }
  41%{
    opacity: 1;
  }
  84%{
    opacity: 1;
  }
  85%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

@keyframes cloudAnim {
  0%{
    opacity: 0;
  }
  40%{
    opacity: 0;
  }
  41%{
    display: block;
    opacity: 1;
    left: 20%;
  }
  50%{
    left: 50%;
  }
  75%{
    left: 50%;
  }
  84%{
    left: 20%;
    opacity: 1;
  }
  85%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

@keyframes wifi1Anims {
  0%{
    opacity: 0;
  }
  49%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  60%{
    opacity: 1;
  }
  61%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

@keyframes wifi2Anims {
  0%{
    opacity: 0;
  }
  60%{
    opacity: 0;
  }
  61%{
    opacity: 1;
  }
  70%{
    opacity: 1;
  }
  71%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

@keyframes chipAnim {
  0%{
    opacity: 0;
  }
  40%{
    opacity: 0;
  }
  41%{
    opacity: 1;
  }
  74%{
    opacity: 1;
  }
  75%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}


@keyframes backgroundAnim {
  40%{
    filter: grayscale(0%);
  }
  45%{
    filter: grayscale(90%);
  }
  85%{
    filter: grayscale(90%);
  }
  90%{
    filter: grayscale(0%);
  }
  100%{
    filter: grayscale(0%);
  }
}

@keyframes discleimerAnim {
  0%{
    opacity: 1;
  }
  99%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
