#Tom{
  width: 300px;
  position: absolute;
  transition: left 3s, top 3s;
}

#Jerry{
  width: 100px;
  position: absolute;
  transition: left .5s, top .5s;
}

body{
  overflow-x: hidden;
  overflow-y: hidden;
}
